In [14]:
#database
#1，用于记录用户
#2，用于保存用户搜索记录

import psycopg2

In [23]:
#创建/链接数据库
conn = psycopg2.connect(dbname="practice_db", user="postgres",
        password="password", host="127.0.0.1", port="5432")

In [24]:
#创建cur对象用于操作数据库
cur = conn.cursor()

In [25]:
#生成table
cur.execute(
        'CREATE TABLE Employee2 ('
        'name    varchar(80),'
        'address varchar(80),'
        'age     int,'
        'date    date'
        ')'
    )

In [26]:
#插入数据
cur.execute("INSERT INTO Employee2 "
        "VALUES('Gopher', 'China Beijing', 100, '2017-05-27')")

In [27]:
#查询数据
cur.execute("SELECT * FROM Employee2")
rows = cur.fetchall()
for row in rows:
    print('name=' + str(row[0]) + ' address=' + str(row[1]) + 
        ' age=' + str(row[2]) + ' date=' + str(row[3]))

name=Gopher address=China Beijing age=100 date=2017-05-27

In [28]:
#更新数据
cur.execute("UPDATE Employee2 SET age=12 WHERE name='Gopher'")

In [29]:
#删除数据
cur.execute("DELETE FROM Employee2 WHERE name='Gopher'")

In [30]:
#删除表
cur.execute("drop table Employee2")

In [31]:
#commit操纵和关闭连接
conn.commit()
conn.close()